@import "./progressBar";
@import "./animations/bounce";

@mixin toast {
  .toast {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--toastinette-global-color-background);
    width: var(--toastinette-toast-width);
    min-height: 64px;
    padding: 8px;
    margin: 0.5rem 0.5rem 1rem;
    color: black;
    transition: all;
    transition-duration: 200ms;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    cursor: pointer;
    overflow: hidden;
    user-select: none;

    &.base {
      background-color: var(--toastinette-global-color-background);
      color: black;


      &.info {
        .toast-icon {
          color: var(--toastinette-global-color-info);;
        }

        .toast-progress-bar {
          background-color: var(--toastinette-global-color-info);
        }
      }

      &.success {
        .toast-icon {
          color: var(--toastinette-global-color-success);;
        }

        .toast-progress-bar {
          background-color: var(--toastinette-global-color-success);
        }
      }

      &.warning {
        .toast-icon {
          color: var(--toastinette-global-color-warning);;
        }

        .toast-progress-bar {
          background-color: var(--toastinette-global-color-warning);
        }
      }

      &.error {
        .toast-icon {
          color: var(--toastinette-global-color-error);;
        }

        .toast-progress-bar {
          background-color: var(--toastinette-global-color-error);
        }
      }
    }

    &.dark {
      background-color: var(--toastinette-global-color-base);
      color: white;

      .toast-progress-bar {
        opacity: 1;
        background-color: var(--toastinette-global-color-background);
      }

      &.info {
        .toast-icon {
          color: var(--toastinette-global-color-info);;
        }

        .toast-progress-bar {
          background-color: var(--toastinette-global-color-info);
        }
      }

      &.success {
        .toast-icon {
          color: var(--toastinette-global-color-success);;
        }

        .toast-progress-bar {
          background-color: var(--toastinette-global-color-success);
        }
      }

      &.warning {
        .toast-icon {
          color: var(--toastinette-global-color-warning);;
        }

        .toast-progress-bar {
          background-color: var(--toastinette-global-color-warning);
        }
      }

      &.error {
        .toast-icon {
          color: var(--toastinette-global-color-error);;
        }

        .toast-progress-bar {
          background-color: var(--toastinette-global-color-error);
        }
      }
    }

    &.colored {
      background-color: var(--toastinette-global-color-background);
      color: black;

      &.info {
        color: white;
        background-color: var(--toastinette-global-color-info);

        .toast-progress-bar {
          background-color: white;
        }
      }

      &.success {
        color: white;
        background-color: var(--toastinette-global-color-success);

        .toast-progress-bar {
          background-color: white;
        }
      }

      &.warning {
        color: white;
        background-color: var(--toastinette-global-color-warning);

        .toast-progress-bar {
          background-color: white;
        }
      }

      &.error {
        color: white;
        background-color: var(--toastinette-global-color-error);

        .toast-progress-bar {
          background-color: white;
        }
      }
    }

    .toast-body {
      display: flex;

      .toast-icon {
        min-width: 1.5rem;
        margin-right: 1rem;
      }

      .toast-content {
        .toast-title {
          font-weight: bold;
        }

        .toast-text {
        }
      }
    }

    .close-toast-button {
      position: absolute;
      right: 0.5rem;
      top: 7px;
      width: 1.1rem;
      transition: transform 0.2s;
      color: black;
      opacity: 0.3;

      &:hover {
        //transform: scale(1.2);
        opacity: 1;
      }
    }

    @include progressBar;
  }
}
